<html lang="en">
  <head>
    {{>headerlinks}}
  </head>
  <body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main-header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- right side div -->
            <div class="col-md-6 col-12 main_header_right">
              <figure>
                  <img src="images/human.jpg" alt="Sonam" class="img-fluid" title="Sonam Rana">
              </figure>
            </div>
            <!-- left side div -->
            <div class="col-md-6 col-12 main_header_left">
              <p class="welcome_text">Welcome to My Profile</p>
              <h3>
                I AM A <span class="weather_blue">FULL STACK DEVELOPER</span>
              </h3>
              <a href="https://www.instagram.com/" target="_blank"
                ><button class="check_now">ABOUT ME</button></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer  -->
    {{>footer}}
  </body>
</html>